search:
	-
		in: %appDir%
		classes:
			- *Factory
			- *Facade


services:
	- App\Router\RouterFactory::createRouter

	translateService: App\Model\Services\TranslateService
	translateControlFactory: App\Controls\TranslateControl\TranslateControlFactory
